<header>
    <div class="menu-button" (click)="menuButtonClicked()">
        <i class='bx bx-menu'></i>        
    </div>

    <div class="brand-name">
        <span>Typing Test</span>
    </div>

    <div class="btn-group">
        <button class="btn btn-outline-light btn-lg">Log In</button>
        <button class="btn btn-outline-light btn-lg">Register</button>
        <button class="btn btn-outline-light btn-lg" routerLink="/profile">Profile</button>
        <button class="btn btn-outline-light btn-lg">Log Out</button>
        
    </div>
</header>
